/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

horizon.log
supervisord.log
supervisord.pid
.docker/data/db/*
!.docker/data/db/.gitkeep
.docker/data/redis/*
!.docker/data/redis/.gitkeep